.c-main-footer {
  background: $brand-color;
  padding-top: setting-spacing(l);
  padding-bottom: setting-spacing(l);
  text-align: center;
  font-size: setting-font-size(s);

  &,
  a,
  a:visited {
    color: $brand-color-contrast;
  }

  // Hack hack
  small {
    font-size: inherit;
  }
}
