<header class="c-main-header">
  <div class="o-container c-main-header__inner">
    <a class="c-main-header__logo" href="/">
      Markus<br>Oberlehner
    </a>
    <nav class="c-main-nav">
      <a class="c-main-nav__link" href="/projects/">Projects</a>
      <span class="c-main-nav__divide"> | </span>
      <a class="c-main-nav__link" href="/blog/">Blog</a>
    </nav>
  </div>
</header>
