<p class="c-byline">
  Posted on
  <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
    {{- dateFormat "2 January 2006" (default .Date (.PublishDate)) -}}
  </time>,
  {{ if ne .Site.Params.hide_author true }}
    {{ with .Params.author }}
      by <span itemprop="author">{{ index . }}</span>,
    {{ else }}
      by <span itemprop="author">{{ .Site.Params.author }}</span>,
    {{ end }}
  {{ end }}
  {{ with .Params.categories }}
    in <span itemprop="articleSection">{{ delimit (apply (apply (sort .) "partial" "post/category-link" ".") "chomp" ".") ", " " and " }}</span>,
  {{ end }}
  {{ with .Params.tags }}
    tagged {{ delimit (apply (apply (sort .) "partial" "post/tag-link" ".") "chomp" ".") ", " " and " }}
  {{ end }}
  {{ with .Params.lego }}
    categorized {{ delimit (apply (apply (sort .) "partial" "post/lego-link" ".") "chomp" ".") ", " " and " }}
  {{ end }}
</p>
