<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta/charset" . }}

    {{ if eq .Data.Singular "tag" }}
      {{ $.Scratch.Add "titlePrefix" "Articles tagged with " }}
    {{ else if eq .Data.Singular "category" }}
      {{ $.Scratch.Add "titlePrefix" "Articles about " }}
    {{ else }}
      {{ $.Scratch.Add "titlePrefix" "" }}
    {{ end }}
    {{ if .IsHome }}
      {{ $.Scratch.Add "titleSuffix" "" }}
    {{ else }}
      {{ $.Scratch.Add "titleSuffix" " - Markus Oberlehner" }}
    {{ end }}
    <title>{{ if isset .Params "metatitle" }}{{ .Params.MetaTitle }}{{ else }}{{ $.Scratch.Get "titlePrefix" }}{{ .Title }}{{ end }}{{ $.Scratch.Get "titleSuffix" }}</title>

    {{ partial "meta/description" . }}
    {{ partial "meta/robots" . }}
    {{ partial "meta/author" . }}
    {{ partial "meta/viewport" . }}
    {{ partial "meta/theme-color" . }}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if (isset .Params "prev") }}
      <link rel="prev" href="{{ .Params.prev }}">
    {{ end }}
    {{ if (isset .Params "next") }}
      <link rel="next" href="{{ .Params.next }}">
    {{ end }}
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/dist/css/global.css" inline>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="c-stage">
      {{ block "header" . }}{{ end }}
      {{ block "main" . }}{{ end }}
      {{ block "footer" . }}{{ end }}
    </div>
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-57407594-3','auto');ga('send','pageview');
        [].slice.call(document.querySelectorAll('[data-event-category]')).forEach(function(e){e.addEventListener('click',function(){ga('send','event',e.getAttribute('data-event-category'),e.getAttribute('data-event-action'),e.getAttribute('data-event-label'),e.getAttribute('data-event-value'))})}),[].slice.call(document.querySelectorAll('[href*="amzn.to"]')).forEach(function(e){e.addEventListener('click',function(){ga('send','event','link','click: afiliate',e.getAttribute('href'))})});
    </script>
    <script src="https://www.google-analytics.com/analytics.js" defer></script>
  </body>
</html>
