{{ define "header" }}
  {{ partial "header" . }}
{{ end }}
{{ define "main" }}
  <main class="o-container o-container--s o-vertical-spacing o-vertical-spacing--l">
    <article class="o-vertical-spacing o-vertical-spacing--xl" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
      {{ template "_internal/schema.html" . }}
      <header class="o-vertical-spacing o-vertical-spacing--xs">
        <h1 class="c-title c-title--1" itemprop="headline">{{ .Title }}</h1>
        {{ partial "post/byline" . }}
      </header>
      <div class="o-vertical-spacing o-vertical-spacing--l c-content" itemprop="articleBody">
        {{ .Content }}
      </div>
      {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
    </article>
    {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
      {{ $.Scratch.Set "has_related" true }}
    {{ end }}
    {{ if $.Scratch.Get "has_related" }}
        <hr class="c-hr">
        <aside class="o-vertical-spacing o-vertical-spacing--m">
          <h2 class="c-title c-title--2">Related Content</h2>
          <ul>
            {{ $num_to_show := .Site.Params.related_content_limit | default 7 }}
            {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
              <li><a class="c-anchor" href="{{ .RelPermalink }}">{{ .Title }}</a> &ndash; {{ .ReadingTime }} minutes
            {{ end }}
          </ul>
        </aside>
      {{ end }}
  </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
