{{ define "header" }}
  {{ partial "header" . }}
{{ end }}
{{ define "main" }}
  <main class="o-container o-container--s o-vertical-spacing o-vertical-spacing--l c-stage__main">
    <article class="o-vertical-spacing o-vertical-spacing--xl" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
      {{ template "_internal/schema.html" . }}
      <header class="o-vertical-spacing o-vertical-spacing--xs">
        <h1 class="c-title c-title--1" itemprop="headline">{{ .Title }}</h1>
        {{ partial "post/byline" . }}
      </header>
      <div class="o-vertical-spacing o-vertical-spacing--l c-content" itemprop="articleBody">
        {{ .Content }}
      </div>
      {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
    </article>
    <hr class="c-hr">
    <div class="c-service-info">
      <h2>Did you enjoy this?</h2>
      <p class="c-service-info__body">
        <a class="c-anchor" href="https://www.patreon.com/maoberlehner" data-event-category="link" data-event-action="click: support" data-event-label="Patreon (article footer)">Become a Patron</a>.
      </p>
    </div>
    {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
      {{ $.Scratch.Set "has_related" true }}
    {{ end }}
    {{ if $.Scratch.Get "has_related" }}
        <hr class="c-hr">
        <aside class="o-vertical-spacing o-vertical-spacing--m">
          <h2 class="c-section-headline">Related Content</h2>
          <ul class="c-related">
            {{ $num_to_show := .Site.Params.related_content_limit | default 7 }}
            {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
              <li class="c-related__item">
                <span class="c-related__date">{{- dateFormat "02 Jan 2006" (default .Date (.PublishDate)) -}}</span>
                <a class="c-anchor" href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
          </ul>
        </aside>
      {{ end }}
  </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
