{{ define "header" }}
  {{ partial "header" . }}
{{ end }}
{{ define "main" }}
  <main class="o-container o-container--s o-vertical-spacing o-vertical-spacing--l">
    <h1 class="c-title c-title--1">{{ .Title }}</h1>
    <section class="o-vertical-spacing o-vertical-spacing--xxl c-article-list" itemscope itemtype="http://schema.org/Blog">
      {{ range .Paginator.Pages }}
        {{ partial "page-summary" . }}
      {{ end }}
    </section>
  </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
