.c-feature {
  padding-top: setting-spacing(xxl);
  padding-bottom: setting-spacing(xxl);
  background: setting-color(a, gray);
}

.c-feature__content-grid {
  align-items: center;
}

.c-feature__cta {
  display: inline-block;
}
