$c-hero-min-height: 24em;
$c-hero-max-height: 52em;
$c-hero-height: 100vh;

.c-hero {
  background-image: url('/images/markus-oberlehner-mobile-2017-06.jpg');
  background-position: top center;
  background-size: cover;
  height: $c-hero-height;
  min-height: $c-hero-min-height;
  max-height: $c-hero-max-height;

  @media (min-width: 42em) and (orientation: landscape) {
    background-image: url('/images/markus-oberlehner-2017-06.jpg');

    &,
    a,
    a:visited {
      color: #fff;
    }
  }
}

.c-hero__inner {
  display: flex;
  align-items: flex-end;
  height: $c-hero-height;
  min-height: $c-hero-min-height;
  max-height: $c-hero-max-height;
}

.c-hero__text {
  flex-grow: 1;
  margin-right: setting-spacing(m) * -1;
  margin-left: setting-spacing(m) * -1;
  background: rgba(#fff, 0.9);
  padding: setting-spacing(m);

  @media (min-width: 42em) and (orientation: landscape) {
    margin-right: 0;
    margin-bottom: setting-spacing(xxl);
    margin-left: 0;
    background: none;
    padding: 0;
    max-width: 20em;
  }
}

.c-hero__title {
  font-size: setting-font-size(m);
  font-weight: 400;
}

.c-hero__mainTitle {
  font-weight: 500;
}

.c-hero__subTitle {
  line-height: 1.6;
}
