.c-hero {
  min-height: 24em;
  max-height: 100vw;
  height: 100vh;
  background-image: url('/images/markus-oberlehner-mobile-2017-06.jpg');
  background-position: top center;
  background-size: cover;

  @media (min-width: 42em) {
    background-image: url('/images/markus-oberlehner-2017-06.jpg');

    &,
    a,
    a:visited {
      color: #fff;
    }
  }
}

.c-hero__inner {
  display: flex;
  min-height: 24em;
  max-height: 100vw;
  height: 100vh;
  align-items: flex-end;
}

.c-hero__text {
  margin-right: setting-spacing(m) * -1;
  margin-left: setting-spacing(m) * -1;
  padding: setting-spacing(m);
  background: rgba(#fff, 0.9);

  @media (min-width: 42em) {
    margin-right: 0;
    margin-bottom: setting-spacing(xxl);
    margin-left: 0;
    padding: 0;
    max-width: 20em;
    background: none;
  }
}

.c-hero__title {
  font-weight: 400;
  font-size: setting-font-size(m);
}

.c-hero__mainTitle {
  font-weight: 500;
}

.c-hero__subTitle {
  line-height: 1.6;
}
