.c-hero {
  // Temporary set the background to white and compensate margins
  // because tha site has a very light gray background
  // but the current hero image has a white background.
  margin-top: setting-spacing(xxxl) * -1;
  padding-top: setting-spacing(xxxl);
  background: #fff;
}

.c-hero__items {
  align-items: flex-end;
}

.c-hero__title {
  font-weight: 400;
  font-size: setting-font-size(m);
}

.c-hero__mainTitle {
  font-weight: 500;
}

.c-hero__subTitle {
  line-height: 1.6;
}

.c-hero__text {
  margin-bottom: setting-spacing(xxl);
}

.c-hero__image {
  display: block;
}
