.c-main-header {
  padding-top: setting-spacing(l);
  padding-bottom: setting-spacing(l);
  background: $brand-color;
  font-size: setting-font-size(s);

  &,
  a {
    color: $brand-color-contrast;
  }
}

.c-main-header--overlay {
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba(#fff, 0.1);
  background: transparent;
}

.c-main-header__inner {
  display: flex;
  justify-content: space-between;
}

.c-main-header__logo {
  line-height: 1.1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: setting-font-size(s);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
