.c-service-info {
  margin-top: setting-spacing(l);
  margin-bottom: setting-spacing(l);
  text-align: center;
  font-size: setting-font-size(xl);

  h2 {
    font-size: setting-font-size(l) !important;
  }
}

.c-service-info__body {
  margin-top: setting-spacing(xs) / 2;
}
