.c-stage {
  background: #fafafa;

  > :not(:first-child) {
    margin-top: setting-spacing(xxl);
  }

  @media (min-width: setting-breakpoint(m)) {
    > :not(:first-child) {
      margin-top: setting-spacing(xxxl);
    }
  }
}
