.c-twitter-teaser {
  display: flex;
  align-items: center;
  border-radius: 0.1875em;
  background-color: setting-color(a);
  background-image: url('/images/q_auto/v1532158513/blog/assets/twitter-bg');
  background-size: cover;
  min-height: 14em;
  letter-spacing: 0.03em;
  color: #fff;
}

.c-twitter-teaser__content {
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
  max-width: 22em;
  text-align: center;
}

.c-twitter-teaser__headline {
  text-transform: uppercase;
  font-size: setting-font-size(s);
  font-weight: 400;
}

.c-twitter-teaser__body {
  margin-top: setting-spacing(s, true);
  line-height: 1.2;
  font-size: setting-font-size(l);
}

// 1. Important is necessary to override content style #yolo.
.c-twitter-teaser__button {
  display: inline-block;
  transition-duration: 0.2s;
  transition-property: background-color, color;
  margin-top: setting-spacing(m, true);
  border: 1px solid #fff;
  border-radius: 0.1875em;
  padding: setting-spacing(xs) setting-spacing(s);
  text-decoration: none;

  &,
  &:visited {
    color: #fff !important; // 1
  }

  // stylelint-disable-next-line order/order
  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
    color: setting-color(a) !important; // 1
  }

  // stylelint-disable-next-line order/order
  &::before {
    border-color: #fff;
  }
}
