.c-content {
  h1 {
    font-size: setting-font-size(xxxl);
  }

  h2 {
    font-size: setting-font-size(xxl);
  }

  h3 {
    font-size: setting-font-size(xl);
  }

  h4 {
    font-size: setting-font-size(l);
  }
}

.c-content__date {
  font-size: setting-font-size(s);

  h1 + & {
    position: relative;
    top: setting-spacing(xs) / 2;
  }
}
