.c-main-header {
  padding-top: setting-spacing(l);
  padding-bottom: setting-spacing(l);
  background: $brand-color;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.26);
  font-size: setting-font-size(s);

  &,
  a {
    color: $brand-color-contrast;
  }
}

.c-main-header__inner {
  display: flex;
  justify-content: space-between;
}

.c-main-header__logo {
  text-decoration: none;
  text-transform: uppercase;
  font-size: setting-font-size(s);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  line-height: 1.1;
}
