{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "header" . }}
{{ end }}
{{ define "main" }}
  <main>
    <section class="c-stage__hero c-hero">
      <div class="o-container">
        <div class="o-grid c-hero__items">
          <div class="o-grid__item o-vertical-spacing c-hero__text u-width-12/12 u-width-6/12@m">
            <h1 class="c-hero__title o-vertical-spacing">
              <div class="c-hero__mainTitle c-title c-title--1">Hello.</div>
              <div class="c-hero__subTitle">I'm <strong>Markus Oberlehner</strong>,<br>a <strong>Web Developer</strong> working at <a class="c-anchor c-anchor--low-key" href="http://www.karriere.at" rel="nofollow" data-event-category="link" data-event-action="click: workplace" data-event-label="karriere.at"><strong>karriere.at</strong></a>.</div>
            </h1>
            <p><strong>Open Source</strong> is my passion. I'm the creator of <a class="c-anchor c-anchor--low-key" href="https://avalanche.oberlehner.net" data-event-category="link" data-event-action="click: project" data-event-label="avalanche"><strong>avalanche</strong></a> and <a class="c-anchor c-anchor--low-key" href="https://github.com/maoberlehner/node-sass-magic-importer" rel="nofollow" data-event-category="link" data-event-action="click: project" data-event-label="node-sass-magic-importer"><strong>node-sass-magic-importer</strong></a>.</p>
          </div>
          <div class="o-grid__item u-width-12/12 u-width-6/12@m">
            <img class="c-hero__image" srcset="/images/markus-oberlehner-05-2017.jpg 2x" alt="Markus Oberlehner">
          </div>
        </div>
      </div>
    </section>
    <div class="o-vertical-spacing o-vertical-spacing--xxxl">
      <section class="c-feature">
        <div class="o-container o-vertical-spacing">
          <h2 class="c-title c-title--2">Personal Projects</h2>
          <div class="c-feature__content">
            <div class="o-grid">
              <div class="o-grid__item o-vertical-spacing u-width-12/12 u-width-6/12@m">
                <p><a class="c-anchor c-anchor--low-key" href="https://avalanche.oberlehner.net" data-event-category="link" data-event-action="click: project" data-event-label="avalanche"><strong>avalanche</strong></a> Is a modular, package based CSS framework.</p>
                <p>The <strong>avalanche</strong> framework establishes the foundation for a package based CSS workflow. <strong>avalanche</strong> provides building blocks for you to handpick and integrate into your workflow.</p>
              </div>
              <div class="o-grid__item o-vertical-spacing u-width-12/12 u-width-6/12@m">
                <p><a class="c-anchor c-anchor--low-key" href="https://github.com/maoberlehner/node-sass-magic-importer" rel="nofollow" data-event-category="link" data-event-action="click: project" data-event-label="node-sass-magic-importer"><strong>node-sass-magic-importer</strong></a> Is a custom node-sass importer for selector specific imports, node importing, module importing, globbing support and importing files only once.</p>
                <p>The <strong>node-sass-magic-importer</strong> module is available as a <a class="c-anchor c-anchor--low-key" href="https://www.npmjs.com/package/node-sass-magic-importer" rel="nofollow" data-event-category="link" data-event-action="click: project" data-event-label="node-sass-magic-importer">NPM package</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="o-container o-container--s o-vertical-spacing o-vertical-spacing--xl">
        <h2 class="c-section-headline">Latest Articles</h2>
        <div class="o-vertical-spacing o-vertical-spacing--xl c-article-list" itemscope itemtype="http://schema.org/Blog">
          {{ range first 3 .Paginator.Pages }}
            {{ partial "page-summary-h3" . }}
          {{ end }}
        </div>
      </section>
    </div>
  </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
