{{#> "layouts/main" }}
  <div class="o-vertical-spacing o-vertical-spacing--xxxl">
    {{> partials/header }}

    <main class="o-container o-container--s">
      <div class="o-vertical-spacing o-vertical-spacing--l c-content">
        {{{ content }}}
      </div>
    </main>

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
