{{#> "layouts/main" metaTitle="Markus Oberlehner | I build stuff." metaDescription="I'm a web developer currently working at karriere.at and I write blog articles about web development and life." }}
  <div class="o-spacing-container o-spacing-container--xxxl">
    {{> partials/header }}

    <main class="o-spacing-container o-spacing-container--xxxl">
      <section class="o-container c-hero">
        <div class="o-grid">
          <div class="o-grid__item o-spacing-container">
            <h1 class="c-hero__title c-title c-title--1">Hello.</h1>
            <p>I'm Markus Oberlehner,<br>a web developer working at <a class="c-anchor c-anchor--low-key" href="http://www.karriere.at" rel="nofollow">karriere.at</a>.</p>
            <p>I build stuff.</p>
          </div>
          <div class="o-grid__item">
            ME
          </div>
        </div>
      </section>
      <section class="o-container o-spacing-container o-spacing-container--l c-feature">
        <div class="o-grid">
          <div class="o-grid__item o-spacing-container o-spacing-container--l">
            <h2>My pet project: avalanche</h2>
            <p>I'm the creator of the avalanche CSS framework. avalanche is a package based CSS framework.....</p>
          </div>
          <div class="o-grid__item o-spacing-container o-spacing-container--l">
            avalanche logo
          </div>
        </div>
      </section>
      <section class="o-container o-spacing-container o-spacing-container--l c-section">
        <h2>Projects</h2>
        magic importer, perfundo, css selector extract,... more at github
      </section>
      <section class="o-container o-spacing-container o-spacing-container--l c-section">
        <h2>Latest Blog articles</h2>
      </section>
    </main>

    {{> partials/footer }}
  </div>
{{/ "layouts/main" }}
