<article class="c-article-list__item" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="c-article-list__title c-anchor" itemprop="mainEntityOfPage" href="{{ .Permalink }}">
    <h3 class="c-title c-title--3" itemprop="headline">
      {{ .Title }}
    </h3>
  </a>
  <time class="c-article-list__date" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
    {{ .Date.Format "2 January 2006" }}
  </time>
  <p itemprop="articleBody">{{ .Params.Intro }}</p>
  <a class="c-article-list__cta c-read-more" href="{{ .RelPermalink }}">Read more</a>
</article>
